body {
  background-color: rgba(127, 255, 212, 0.5);
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

nav {
  padding: 7px;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
}

nav a:hover {
  background-color: white;
  color: blue;
  border: 1px solid blue;
  border-radius: 5px;
  transition: 0.2s all;
}

.bloco01 {
  display: flex;
  padding: 10px;
}

.bloco01 div {
  height: 300px;
  width: 300px;
  margin: 20px;
}

.bloco01 p {
  height: 200px;
  width: 200px;
  margin: 20px;
}

form {
  padding: 20px;
}

form input,
h1,
h3 {
  width: 300px;
}

form input {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

form [type="submit"] {
  display: block;
  margin-top: 20px;
  width: 70px;
}

footer {
  background-color: black;
  color: white;
  font-size: 0.7em;
  text-align: center;
  width: 100%;
}
