body {
  font-family: "Rock Salt", cursive;
}

@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

@font-face {
  font-family: "Dancing";
  src: url(fonts/DancingScript-VariableFont_wght.ttf) format("truetype");
}

.teste {
  background-color: blue;
}

p {
  background-color: yellow;
}
