* {
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("imagens/wallpaper003.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.quadrado {
  display: inline-block;
  border-radius: 10px;
  border: 4px solid black;
  height: 300px;
  width: 300px;
}

div#q1 {
  background-color: aqua;
}

div#q2 {
  background-image: linear-gradient(to bottom, blue, purple);
}

div#q3 {
  background-image: url("imagens/pattern004.png");
}
